BirthdayProject/src/META-INF/wsdl/localhost_8084/SquashPEI/BirthdayList.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getBirthdayMembers" type="tns:getBirthdayMembers"/>

<xs:element name="getBirthdayMembersResponse" type="tns:getBirthdayMembersResponse"/>

<xs:complexType name="getBirthdayMembers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBirthdayMembersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>